/.Xauthority
/.bash_history
/.bashrc
/.cache
/.cime
/.conda
/.config
/.gitconfig
/.ipython
/.lesshst
/.local
/.ncviewrc
/.singularity
/.ssh
/.subversion
/.vscode-server
/.wget-hsts
/core
/examples
/maxTemp.png
/miniconda3
/nohup.out
/wanted_vars.nc
/wanted_vars2.nc